*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Hier können Stiele für die ganze Webseite angegeben werden. */
body {
    margin: 0;
}

main {
    padding: 1rem;
}

/* Hier werden 2 Elemente nebeneinander gepackt.
   Mit `display: flex;` können wir angeben in welche Richtung alle Kinder von
   einem Element ausgerichtet werden. Wählen wir `flex-direction: row`, dann
   werden Sie alle mit gleich viel Platz in einer Reihe nebeneinander platziert.
   Mit `flex-direction: column` werden Sie untereinander platziert. Das reicht
   um die meisten Elemente gut zu platzieren.
*/
.text-and-img {
    display: grid; /* Richtet die Elemnte in einer Zeile oder Reihe aus. */
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
    align-items: center;
}

/* Diese Regel beschreibt wie Bilder in diesem Container dargestellt werden. */
.text-and-img img {
    border-radius: 2rem; /* Damit können die Ecken abgerundet werden. */
    width: 100%; /* Braucht es damit das Bild im Container bleibt und nicht viel zu gross ist. */
}

.text-green {
    color: darkred;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
